<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body class="bg-dark">
    <header class="bg-white p-3">
      <div class="container d-flex align-items-center justify-content-around">
        <a
          href="#"
          class="d-flex flex-column align-items-center justify-content-center border-bottom-4 border-primary"
        >
          <img src="/images/home.svg" width="40" height="40" alt="" class="" />
          <h3 class="">CredoHouse</h3>
        </a>
        <div class="">
          <button class="btn btn-primary text-white px-3 mx-3">
            Home Page
          </button>
          <button class="btn btn-primary text-white px-3 mx-3">Admin</button>
        </div>
        <a href="tel:998712420000" class="text-primary text-decoration-none"
          >99 871 242-00-00</a
        >
        <select name="" id="" class="bg-primary text-white p-2 rounded">
          <option value="uz">Uz</option>
          <option value="en">En</option>
          <option value="ru">Ru</option>
        </select>
      </div>
    </header>

    <main class="mt-4">
      <div
        class="bg-transparent container d-flex flex-column align-items-center justify-content-center"
      >
        <h2 class="h2 text-white">Choose a house by filtering</h2>
        <form
          action=""
          class="d-flex align-items-center justify-content-center w-75 p-5 bg-white mt-4"
        >
          <div class="d-flex flex-column align-items-center w-25 mx-1 mb-3">
            <p class="">Building company:</p>
            <select
              name=""
              id=""
              class="bg-primary p-2 text-white w-100 select_company"
            >
              <option value="no">Choose</option>
              <% allCompanies.map(e=>{ %>
              <option
              value="<%= e.company_id + "*"+e.company_img+"*"+e.company_name %>"
                          >
                <%= e.company_name %>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="d-flex flex-column align-items-center w-25 mx-1 mb-3">
            <p class="">Complex:</p>
            <select
              name=""
              id=""
              class="bg-primary p-2 text-white w-100 select_complex"
            >
              <option value="no">Choose</option>
            </select>
          </div>
          <div class="d-flex flex-column align-items-center w-25 mx-1 mb-3">
            <p class="">Number of rooms:</p>
            <select
              name=""
              id=""
              class="bg-primary p-2 text-white w-100 select_rooms"
            >
              <option value="no">Choose</option>
            </select>
          </div>
          <div class="d-flex flex-column align-items-center w-25 mx-1 mb-3">
            <p class="">Mortgage duration:</p>
            <select
              name=""
              id=""
              class="bg-primary p-2 text-white w-100 select_year"
            >
              <option value="no">Choose</option>
            </select>
          </div>
        </form>
        <div class="d-flex align-items-center justify-content-between p-5 bg-white mt-5 d-none box w-100 mb-5">
          <div class="d-flex flex-column align-items-center d-none div_1 w-25">
            <img src="" alt="" class="company_img" width="200" height="120" />
            <h3 class="company_name h4 mt-2"></h3>
            <div class="d-flex flex-column align-items-center d-none div_1_2">
              <p class="h6 complex_name"></p>
              <p class="h6 rooms_count"></p>
              <p class="h6 kv_metr_price"></p>
              <p class="h6 total_area"></p>
              <p class="h6 complex_adress"></p>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center d-none div_2 w-25">
            <img src="" alt="" class="bank_img" width="200" height="120" />
            <h3 class="bank_name h4"></h3>
            <p class="h6 fw-bold bank_money"></p>
            <p class="h6 fw-bold mortgage_duration"></p>
            <p class="h6 fw-bold starting_payment"></p>
            <p class="h6 fw-bold time"></p>
          </div>
          <div class="d-flex flex-column align-items-center d-none div_3 w-25">
            <h3 class="h4 calculator">Calculator</h3>
            <p class="fw-bold house_price"></p>
            <p class="fw-bold starting_payments"></p>
            <p class="fw-bold monthly_payment"></p>
            <p class="fw-bold bank_service"></p>
            <p class="fw-bold payment_duration"></p>
          </div>
        </div>
      </div>
    </main>

    <script src="/js/home.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
