.overlay {
  position: absolute;
  top: 420px;
  left: 20px;
  height: 250px;
  background-color: rgba(113, 111, 111, 0.678);
  border: 2px solid white;
  z-index: 5;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: white;
}
body {
  overflow-x: hidden;
}
